:root {
  --main-content-color: #fffd93;
}

/* MAIN */
main {
  background-color: var(--main-content-color);
}

@media (max-width: 1000px) {
  main {
    padding: 4vw;
  }
}

@media (min-width: 1000px) {
  main {
    padding: 4.5vh;
  }
}

@media (min-width: 1400px) {
  main {
    padding: 6vh;
  }
}

/* HEADINGS */
main h2 {
  margin-bottom: 2vh;
}

main h3 {
  margin: 2vh 0;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 3vh;
    margin-top: 2em;
  }

  h3 {
    font-size: 2vh;
    margin: 2em 0;
  }
}

@media (min-width: 1000px) {
  main h2 {
    font-size: 3vw;
  }

  main h3 {
    font-size: 2vw;
  }
}

@media (min-width: 1400px) {
  main h2 {
    font-size: 2vw;
  }

  main h3 {
    font-size: 1.5vw;
  }
}

/* TEXT */
main {
  line-height: 1.5em;
}

@media (max-width: 1000px) {
  main {
    font-size: 1.7vh;
  }
}

@media (min-width: 1000px) {
  main {
    font-size: 1.3vw;
  }
}

@media (min-width: 1400px) {
  main {
    font-size: 1vw;
  }
}
