:root {
  --main-content-color: #fffd93;
}

/* FONTS */
@font-face {
  font-family: "Bricolage Grotesque Bold";
  src: url("fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}

/* MAIN */
main {
  background-color: var(--main-content-color);
}

@media (max-width: 1000px) {
  main {
    padding: 4vw;
  }
}

@media (min-width: 1000px) {
  main {
    padding: 4.5vh;
  }
}

@media (min-width: 1400px) {
  main {
    padding: 6vh;
  }
}

/* HEADINGS */
main h2 {
  text-align: center;
  font-family: "Bricolage Grotesque Bold";
  margin-bottom: 2vh;
}

main h3 {
  margin: 2vh 0;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 3vh;
    margin-top: 2em;
  }

  h3 {
    font-size: 2vh;
    margin: 2em 0;
  }
}

@media (min-width: 1000px) {
  main h2 {
    font-size: 3vw;
  }

  main h3 {
    font-size: 2vw;
  }
}

@media (min-width: 1400px) {
  main h2 {
    font-size: 2vw;
  }

  main h3 {
    font-size: 1.5vw;
  }
}

/* SECTION LAYOUT */
main section {
  margin-top: 5vh;
}

main section.align-left,
main section.align-right {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5%;
}

@media (max-width: 1000px) {
  main section.align-left,
  main section.align-right {
    text-align: center;
    gap: 5vh;
  }
}

@media (min-width: 1000px) {
  main section.align-left {
    flex-flow: row nowrap;
    text-align: right;
  }

  main section.align-right {
    flex-flow: row-reverse nowrap;
  }
}

/* IMAGES */
figure img {
  max-height: 60vw;
}

@media (min-width: 1000px) {
  figure img {
    max-height: 20vw;
  }
}

/* GALLERY */
main .image-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3vh;
}

main .image-grid img {
  width: 100%;
}

@media (min-width: 1000px) {
  main .image-grid {
    grid-template-columns: 1fr 1fr;
  }
}

main .image-grid figure {
  position: relative;
}

main .image-grid figcaption {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 100%;
  color: white;
  background-color: #3b3939b0;
  line-height: 2em;
}

main .image-grid figure:hover figcaption {
  display: block;
  left: 0;
  top: 0;
}
