:root {
  --header: #219e50;
  --navigation: #82cb7d;
  --background: #f3de9f;
  --about-section: #ebe863;
  --members-section: #fffd93;
  --footer: #5a5353;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("fonts/Fira_Sans/FiraSans-Medium.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans Medium";
}

p,
a,
span {
  font-family: sans-serif;
}