:root {
  --header: #219e50;
  --navigation: #82cb7d;
  --background: #f3de9f;
  --about-section: #ebe863;
  --members-section: #fffd93;
  --footer: #5a5353;
}

/* FONTS */
@font-face {
  font-family: "Fira Sans Medium";
  src: url("fonts/Fira_Sans/FiraSans-Medium.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans Medium";
}

p,
a,
span {
  font-family: sans-serif;
}

/* BODY */
html {
  width: 100vw;
  background-color: var(--background);
  justify-content: center;
}

body {
  max-width: 100vw;
  margin: auto;
}

@media (min-width: 1000px) {
  body {
    max-width: 76vw;
  }
}

@media (min-width: 1400px) {
  body {
    max-width: 64vw;
  }
}



/* HEADER */
header {
  background-color: var(--header);
}

h1 {
  font-size: 4vw;
  text-align: center;
}

@media (max-width: 550px) {
  header img {
    width: 15vw
  }
}

@media (max-width: 1000px) {
  h1 {
    order: 1;
    font-size: 5.5vw;
  }

  #name {
    gap: 2vh;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3vw;
    max-width: 50%;
  }

  header img {
    height: 9vw;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 2.5vw;
  }

  header img {
    height: 8.5vw;
  }
}

#name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2.5vw 10px;
}

footer img {
  height: 3vw;
}

main img {
  height: 3vw;
}