:root {
  --about-section: #ebe863;
  --members-section: #fffd93;
  --non-blinding-white: #ffffff;
  --shadow: #64646480;
}

/* MAIN */
@media (max-width: 1000px) {
  main section {
    padding: 4vw;
  }
}

@media (min-width: 1000px) {
  main section {
    padding: 4.5vh;
  }
}

@media (min-width: 1400px) {
  main section {
    padding: 6vh;
  }
}

/* ABOUT SECTION */
#about-the-project {
  background-color: var(--about-section);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

#about-the-project div {
  gap: 2vh;
}

#about-the-project h2 {
  margin-bottom: 1em;
}

#about-the-project p {
  line-height: 1.5em;
}

@media (max-width: 1000px) {
  #about-the-project {
    text-align: center;
  }

  #about-the-project div {
    margin-bottom: 1vh;
  }

  #about-the-project h2 {
    font-size: 3vh;
  }

  #about-the-project p {
    font-size: 1.7vh;
  }

  #about-the-project img {
    max-height: 47vw; 
    box-shadow: 10px 8px var(--shadow);
  }
}

@media (min-width: 1000px) {
  #about-the-project {
    flex-flow: row nowrap;
  }

  #about-the-project div {
    max-width: 40%;
  }

  #about-the-project h2 {
    font-size: 3vw;
  }

  #about-the-project p {
    font-size: 1.3vw;
  }

  #about-the-project img {
    max-height: 26vw; 
    box-shadow: 10px 8px var(--shadow);
  }
}

@media (min-width: 1400px) {
  #about-the-project h2 {
    font-size: 2vw;
  }

  #about-the-project p {
    font-size: 1vw;
  }

  #about-the-project img {
    max-height: 20vw; 
    box-shadow: 10px 8px var(--shadow);
  }
}

/* MEMBERS SECTION */
#members {
  background-color: var(--members-section);
}

#members .card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 2vh;
  gap: 3vw;
}

@media (max-width: 740px) {
  #members .card-container {
    flex-flow: column nowrap;
  }
}

.card {
  padding: 15px 20px;
  background-color: var(--non-blinding-white);
  display: flex;
  aspect-ratio: 16/7;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 8px 6px var(--shadow);
}

#teacher-cards .card {
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 400px;
}

#teacher-cards .card img {
  flex: 1 1 auto;
  min-width: 100px;
  max-width: 150px;
}

#student-cards .card {
  flex: 1 1 auto;
  min-width: 225px;
  max-width: 300px;
}

#student-cards .card img {
  flex: 1 1 auto;
  min-width: 75px;
  max-width: 100px;
}

#members h2,
#members h3 {
  text-align: center;
}

#members h3 {
  margin: 2vh;
}

#members img {
  border-radius: 100px;
}

@media (max-width: 1000px) {
  #members h2 {
    font-size: 3vh;
  }

  #members h3 {
    font-size: 2vh;
    margin: 2em;
  }
}

@media (min-width: 1000px) {
  #members h2 {
    font-size: 3vw;
  }

  #members h3 {
    font-size: 2vw;
  }
}

@media (min-width: 1400px) {
  #members h2 {
    font-size: 2vw;
  }

  #members h3 {
    font-size: 1.5vw;
  }
}
